<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%- seo -%}

    <!-- <link id="style" rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"> -->
    <link id="style" rel="preload" href="{{ '/assets/css/main.css' | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link id="style2" rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"></noscript>

    {%- feed_meta -%}

    {%- if site.google_analytics -%}
        {%- include analytics.html -%}
    {%- endif -%}
</head>
