// @charset "utf-8";

// See for syntax highlighting: https://github.com/rouge-ruby/rouge/wiki/List-of-tokens

$color-scheme-auto: true !default;
$color-scheme-dark: false !default;


// Light mode settings
// ----------
$lm-brand-color:           #828282 !default;
$lm-brand-color-light:     lighten($lm-brand-color, 40%) !default;
$lm-brand-color-dark:      darken($lm-brand-color, 25%) !default;

$lm-site-title-color:      $lm-brand-color-dark !default;

$lm-text-color:            #111111 !default;
$lm-background-color:      #fdfdfd !default;
$lm-code-background-color: #eeeeff !default;

$lm-link-base-color:       #2a7ae2 !default;
$lm-link-visited-color:    darken($lm-link-base-color, 15%) !default;
$lm-link-hover-color:      $lm-text-color !default;

$lm-border-color-01:       $lm-brand-color-light !default;
$lm-border-color-02:       lighten($lm-brand-color, 35%) !default;
$lm-border-color-03:       $lm-brand-color-dark !default;

$lm-table-text-color:      lighten($lm-text-color, 18%) !default;
$lm-table-zebra-color:     lighten($lm-brand-color, 46%) !default;
$lm-table-header-bg-color: lighten($lm-brand-color, 43%) !default;
$lm-table-header-border:   lighten($lm-brand-color, 37%) !default;
$lm-table-border-color:    $lm-border-color-01 !default;


// Dark mode settings
// ----------
$dm-brand-color:           #999999 !default;
$dm-brand-color-light:     lighten($dm-brand-color, 5%) !default;
$dm-brand-color-dark:      darken($dm-brand-color, 35%) !default;

$dm-site-title-color:      $dm-brand-color-light !default;

$dm-text-color:            #bbbbbb !default;
$dm-background-color:      #181818 !default;
$dm-code-background-color: #212121 !default;

$dm-link-base-color:       #79b8ff !default;
$dm-link-visited-color:    $dm-link-base-color !default;
$dm-link-hover-color:      $dm-text-color !default;

$dm-border-color-01:       $dm-brand-color-dark !default;
$dm-border-color-02:       $dm-brand-color-light !default;
$dm-border-color-03:       $dm-brand-color !default;

$dm-table-text-color:      $dm-text-color !default;
$dm-table-zebra-color:     lighten($dm-background-color, 4%) !default;
$dm-table-header-bg-color: lighten($dm-background-color, 10%) !default;
$dm-table-header-border:   lighten($dm-background-color, 21%) !default;
$dm-table-border-color:    $dm-border-color-01 !default;


// Mode selection
// ----------
// Light mode by default
// Assign outside of the if construct to establish global variable scope
$brand-color: $lm-brand-color;
$brand-color-light: $lm-brand-color-light;
$brand-color-dark: $lm-brand-color-dark;

$site-title-color: $lm-site-title-color;

$text-color: $lm-text-color;
$background-color: $lm-background-color;
$code-background-color: $lm-code-background-color;

$link-base-color: $lm-link-base-color;
$link-visited-color: $lm-link-visited-color;
$link-hover-color: $lm-link-hover-color;

$border-color-01: $lm-border-color-01;
$border-color-02: $lm-border-color-02;
$border-color-03: $lm-border-color-03;

$table-text-color: $lm-table-text-color;
$table-zebra-color: $lm-table-zebra-color;
$table-header-bg-color: $lm-table-header-bg-color;
$table-header-border: $lm-table-header-border;
$table-border-color: $lm-table-border-color;


@if $color-scheme-auto {
  // Auto mode
  :root {
	// Light by default
    --brand-color: #{$lm-brand-color};
    --brand-color-light: #{$lm-brand-color-light};
    --brand-color-dark: #{$lm-brand-color-dark};

    --site-title-color: #{$lm-site-title-color};

    --text-color: #{$lm-text-color};
    --background-color: #{$lm-background-color};
    --code-background-color: #{$lm-code-background-color};

    --link-base-color: #{$lm-link-base-color};
    --link-visited-color: #{$lm-link-visited-color};
    --link-hover-color: #{$lm-link-hover-color};

    --border-color-01: #{$lm-border-color-01};
    --border-color-02: #{$lm-border-color-02};
    --border-color-03: #{$lm-border-color-03};

    --table-text-color: #{$lm-table-text-color};
    --table-zebra-color: #{$lm-table-zebra-color};
    --table-header-bg-color: #{$lm-table-header-bg-color};
    --table-header-border: #{$lm-table-header-border};
    --table-border-color: #{$lm-table-border-color};
  }

  @media (prefers-color-scheme: dark) {
    :root {
	  // Dark mode if user's OS is in dark mode
      --brand-color: #{$dm-brand-color};
      --brand-color-light: #{$dm-brand-color-light};
      --brand-color-dark: #{$dm-brand-color-dark};

      --site-title-color: #{$dm-site-title-color};

      --text-color: #{$dm-text-color};
      --background-color: #{$dm-background-color};
      --code-background-color: #{$dm-code-background-color};

      --link-base-color: #{$dm-link-base-color};
      --link-visited-color: #{$dm-link-visited-color};
      --link-hover-color: #{$dm-link-hover-color};

      --border-color-01: #{$dm-border-color-01};
      --border-color-02: #{$dm-border-color-02};
      --border-color-03: #{$dm-border-color-03};

      --table-text-color: #{$dm-table-text-color};
      --table-zebra-color: #{$dm-table-zebra-color};
      --table-header-bg-color: #{$dm-table-header-bg-color};
      --table-header-border: #{$dm-table-header-border};
      --table-border-color: #{$dm-table-border-color};
    }
  }

  // Assign
  $brand-color: var(--brand-color);
  $brand-color-light: var(--brand-color-light);
  $brand-color-dark: var(--brand-color-dark);

  $site-title-color: var(--site-title-color);

  $text-color: var(--text-color);
  $background-color: var(--background-color);
  $code-background-color: var(--code-background-color);

  $link-base-color: var(--link-base-color);
  $link-visited-color: var(--link-visited-color);
  $link-hover-color: var(--link-hover-color);

  $border-color-01: var(--border-color-01);
  $border-color-02: var(--border-color-02);
  $border-color-03: var(--border-color-03);

  $table-text-color: var(--table-text-color);
  $table-zebra-color: var(--table-zebra-color);
  $table-header-bg-color: var(--table-header-bg-color);
  $table-header-border: var(--table-header-border);
  $table-border-color: var(--table-border-color);


} @else if $color-scheme-dark {
  // Dark mode
  $brand-color: $dm-brand-color;
  $brand-color-light: $dm-brand-color-light;
  $brand-color-dark: $dm-brand-color-dark;

  $site-title-color: $dm-site-title-color;

  $text-color: $dm-text-color;
  $background-color: $dm-background-color;
  $code-background-color: $dm-code-background-color;

  $link-base-color: $dm-link-base-color;
  $link-visited-color: $dm-link-visited-color;
  $link-hover-color: $dm-link-hover-color;

  $border-color-01: $dm-border-color-01;
  $border-color-02: $dm-border-color-02;
  $border-color-03: $dm-border-color-03;

  $table-text-color: $dm-table-text-color;
  $table-zebra-color: $dm-table-zebra-color;
  $table-header-bg-color: $dm-table-header-bg-color;
  $table-header-border: $dm-table-header-border;
  $table-border-color: $dm-table-border-color;
}
